body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

h3 {
  margin-top: 100px;
  margin-bottom: 20px;
}

.panel-title {
  text-align: center;
  color: #fff;
}

.btn {
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px;
  background-color: #e9e9e9;
  height: 36px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  box-shadow: -1px 2px 3px rgba(163,163,163,.5);
  color: #000;
  transition: all .5s;
}

.btn:hover {
  cursor: pointer;
  background-color: #d4d4d4;
  transition: all .5s;
  color: #000;
}

.controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  color: #007fff;
}

.wrapper {
  position: relative;
  width: 100%;
}

.wrapper .ui-jqgrid {
  width: 100%;
}

.wrapper .ui-jqgrid .ui-jqgrid-htable th {
  font-size: 13px;
  color: #000;
}

.wrapper .ui-jqgrid tr.jqgrow {
  background-color: #fff8f8;
}

.wrapper .ui-jqgrid tr.jqgrow td a {
  margin: 0 5px;
}
body,
html {
  width: 100%;
  min-width: 960px;
  height: 100%;
  overflow-x: hidden;
}

.ui-widget {
  font-family: Arial,sans-serif;
  font-size: 14px;
}

.ui-widget .ui-widget {
  font-size: 14px;
}

.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
  font-family: Arial,sans-serif;
  font-size: 10px;
  margin: 2px;
  background-color: #fafafa;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 22px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  box-shadow: -1px 2px 3px rgba(163,163,163,.5);
  color: #1e1e1e;
  transition: all .5s;
}

.ui-widget button i,
.ui-widget input i,
.ui-widget select i,
.ui-widget textarea i {
  padding-right: 5px;
}

#jqGrid_toppager,
#pg_jqGrid_toppager {
  border: 0;
  border-radius: 0;
  height: 50px;
  background-color: #3f51b5;
  border-collapse: separate;
}

#jqGrid_toppager .add_record_button,
#jqGrid_toppager .ui-corner-all,
#jqGrid_toppager .ui-pg-button,
#jqGrid_toppager .ui-pg-div,
#jqGrid_toppager .ui-state-hover,
#pg_jqGrid_toppager .add_record_button,
#pg_jqGrid_toppager .ui-corner-all,
#pg_jqGrid_toppager .ui-pg-button,
#pg_jqGrid_toppager .ui-pg-div,
#pg_jqGrid_toppager .ui-state-hover {
  background-color: #3f51b5;
  border: 0;
  padding: 0;
  margin: 0;
}

#jqGrid_toppager .ui-jqgrid .ui-jqgrid-toppager,
#pg_jqGrid_toppager .ui-jqgrid .ui-jqgrid-toppager {
  border-left: 0 none!important;
  border-right: 0 none!important;
  margin: 0!important;
  padding: 0!important;
  position: relative;
  height: 50px!important;
  white-space: nowrap;
  overflow: hidden;
}

#jqGrid_toppager #jqGrid_toppager,
#jqGrid_toppager #jqGrid_toppager_left,
#jqGrid_toppager #pg_jqGrid_toppager,
#jqGrid_toppager .ui-jqgrid-toppager,
#jqGrid_toppager .ui-pager-control,
#jqGrid_toppager .ui-pg-table,
#jqGrid_toppager .ui-pg-table navtable,
#jqGrid_toppager .ui-state-default,
#pg_jqGrid_toppager #jqGrid_toppager,
#pg_jqGrid_toppager #jqGrid_toppager_left,
#pg_jqGrid_toppager #pg_jqGrid_toppager,
#pg_jqGrid_toppager .ui-jqgrid-toppager,
#pg_jqGrid_toppager .ui-pager-control,
#pg_jqGrid_toppager .ui-pg-table,
#pg_jqGrid_toppager .ui-pg-table navtable,
#pg_jqGrid_toppager .ui-state-default {
  height: 50px;
}

#jqGrid_toppager .add_record_button,
#pg_jqGrid_toppager .add_record_button {
  transition: all .5s;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px 15px 5px 15px;
  height: 30px;
  border-radius: 10px;
}

#jqGrid_toppager .add_record_button i,
#pg_jqGrid_toppager .add_record_button i {
  margin-right: 3px;
}

#jqGrid_toppager .add_record_button:hover,
#pg_jqGrid_toppager .add_record_button:hover {
  transition: all .5s;
  background-color: #5c6dc4;
  cursor: pointer;
  border-radius: 10px;
}

.ui-widget button:hover {
  cursor: pointer;
  background-color: #cacaca;
  transition: all .5s;
}

.ui-widget-content {
  font-size: 12px;
  background-color: #fff8f8;
  color: #000;
  border: solid 1px #e6e6e6;
  transition: all .3s;
}

.ui-widget-header {
  height: 50px;
  border: 0;
  border-radius: 0;
  background-color: #3f51b5;
  border-collapse: separate;
}

.ui-widget-header .button_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ui-widget-header .add_record_button {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px 15px 5px 15px;
  height: 30px;
  border-radius: 2px;
}

.ui-widget-header .add_record_button:hover {
  background-color: #5c6dc4;
  cursor: pointer;
}

.ui-widget-header a {
  color: #ff9669;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: solid 1px #e6e6e6;
  background: #223775;
  font-weight: 400;
  color: #fff;
}

.ui-widget-content .ui-state-default {
  border: solid 1px #e6e6e6;
  border-radius: 0;
  background-color: #ebebeb;
  color: #9b9b9b;
  transition: all .3s;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #fff;
  text-decoration: none;
}

.ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover {
  color: #7e959b;
  transition: all .3s;
}

.ui-state-focus a,
.ui-state-hover a,
.ui-widget-content .ui-state-focus a,
.ui-widget-header .ui-state-focus a,
.ui-widget-header .ui-state-hover a {
  color: #000;
}

.ui-state-hover a,
.ui-state-hover a:hover {
  color: #000;
  text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background-color: #fff;
  color: #7e959b;
  border: solid 1px #e6e6e6;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.ui-widget :active {
  outline: 0;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: solid 1px #e6e6e6;
  transition: all .3s;
  color: #000;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #000;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #000;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: solid 1px #e6e6e6;
  background: #ffdc2e;
  color: #7e959b;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #2b2b2b;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #2b2b2b;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: 700;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: 400;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

.statusStyles {
  height: 35px;
  margin: 5px;
  font-size: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff8f8;
  border-radius: 18px;
  color: #3f51b5;
  width: 30px;
}

.unread .statusStyles {
  background: #3f51b5;
  color: #fff;
}

.unread .contactsStyles,
.unread .dateStyles,
.unread .linkStyles,
.unread .previewStyles,
.unread .typeStyles {
  font-weight: 700;
}

.dateStyles {
  height: 35px;
  margin: 5px;
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
}

.typeStyles {
  height: 35px;
  margin: 5px;
  font-size: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
  width: 80px;
}

.linkStyles {
  color: #3f51b5;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.previewStyles {
  height: 20px;
  font-size: 12px;
  color: #000;
  width: 610px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}

.contactsStyles {
  height: 35px;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  font-size: 12px;
  width: 270px;
  padding: 5px;
  overflow: hidden;
  font-weight: 400;
}

.buttonStyles {
  width: 300px;
  min-height: 35px;
  margin-left: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#jqGrid_Status {
  width: 43px;
}

#jqGrid_publication_date {
  width: 75px;
}

#jqGrid_domain {
  width: 93px;
}

#jqGrid_url {
  width: auto;
}

#jqGrid_text {
  width: 613px;
}

#jqGrid_contacts {
  width: 273px;
}

#jqGrid_undefined {
  width: 310px;
}

@media only screen and (min-width:1511px) and (min-width:1920px) {
  #jqGrid_undefined {
    width: 293px;
  }
}

@media only screen and (min-width:1511px) and (max-width:1650px) {
  .buttonStyles {
    width: 190px;
  }

  .buttonStyles button {
    width: 90px;
  }

  .contactsStyles {
    width: 240px;
  }

  #jqGrid_Status {
    width: 43px;
  }

  #jqGrid_publication_date {
    width: 75px;
  }

  #jqGrid_domain {
    width: 93px;
  }

  #jqGrid_url {
    width: auto;
  }

  #jqGrid_text {
    width: 613px;
  }

  #jqGrid_contacts {
    width: 243px;
  }

  #jqGrid_undefined {
    width: 200px;
  }
}

@media only screen and (max-width:1510px) and (min-width:1251px) {
  .buttonStyles {
    width: 190px;
  }

  .buttonStyles button {
    width: 90px;
  }

  .previewStyles {
    height: 37px;
    width: 450px;
    white-space: normal;
    font-weight: 400;
    text-align: center;
  }

  .contactsStyles {
    width: 240px;
  }

  #jqGrid_Status {
    width: 43px;
  }

  #jqGrid_publication_date {
    width: 75px;
  }

  #jqGrid_domain {
    width: 93px;
  }

  #jqGrid_url {
    width: auto;
  }

  #jqGrid_text {
    width: 453px;
  }

  #jqGrid_contacts {
    width: 243px;
  }

  #jqGrid_undefined {
    width: 200px;
  }
}

@media only screen and (max-width:1250px) and (min-width:1100px) {
  .previewStyles {
    height: 37px;
    width: 350px;
  }

  .buttonStyles {
    width: 190px;
  }

  .buttonStyles button {
    width: 90px;
  }

  .linkStyles {
    height: 37px;
  }

  .previewStyles {
    height: 37px;
    white-space: normal;
    font-weight: 400;
    text-align: center;
  }

  .contactsStyles {
    height: 37px;
    width: 190px;
  }

  #jqGrid_Status {
    width: 43px;
  }

  #jqGrid_publication_date {
    width: 75px;
  }

  #jqGrid_domain {
    width: 93px;
  }

  #jqGrid_url {
    width: auto;
  }

  #jqGrid_text {
    width: 353px;
  }

  #jqGrid_contacts {
    width: 193px;
  }

  #jqGrid_undefined {
    width: 200px;
  }
}

@media only screen and (max-width:1099px) {
  .previewStyles {
    height: 55px;
    width: auto;
  }

  .buttonStyles {
    width: 100px;
  }

  .buttonStyles button {
    width: 90px;
  }

  .linkStyles {
    height: 37px;
    width: 300px;
  }

  .previewStyles {
    height: 90px;
    white-space: normal;
    font-weight: 400;
    text-align: center;
  }

  .contactsStyles {
    height: 37px;
    width: 180px;
  }

  #jqGrid_Status {
    width: 43px;
  }

  #jqGrid_publication_date {
    width: 75px;
  }

  #jqGrid_domain {
    width: 93px;
  }

  #jqGrid_url {
    width: 157px;
  }

  #jqGrid_text {
    width: auto;
  }

  #jqGrid_contacts {
    width: 183px;
  }

  #jqGrid_undefined {
    width: 110px;
  }
}

.modal {
  display: none;
  position: fixed;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0,0,0,.4);
  border: 0;
}

.modal-content {
  border-radius: 0;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  min-width: 800px;
  width: 800px;
  height: 90%;
  min-height: 680px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-content #alertDate {
  position: absolute;
  font-style: italic;
  top: 20px;
  right: 25px;
}

.modal-content #alertTitle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 10%;
  width: 80%;
  height: 50px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 25px;
  padding-top: 5px;
}

.modal-content #alertContent {
  width: 100%;
  min-height: 370px;
  height: 65%;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid 1px #ddd;
  padding: 5px;
  white-space: pre-wrap;
}

.modal-content .cont {
  margin-top: 20px;
  font-weight: 700;
}

.modal-content #alertContacts {
  width: 100%;
  height: 50px;
  overflow-y: auto;
  white-space: pre-wrap;
  padding-bottom: 20px;
}

.modal-content .note {
  font-weight: 700;
  margin-bottom: 15px;
}

.modal-content #noteText {
  width: 100%;
  height: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  border: solid 1px #ddd;
  padding: 5px;
  white-space: pre-wrap;
  margin-bottom: 5px;
  resize: none;
}

.modal-content button {
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px;
  background-color: #e9e9e9;
  height: 36px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  box-shadow: -1px 2px 3px rgba(163,163,163,.5);
  color: #794f4f;
  transition: all .5s;
}

.modal-content button i {
  margin-right: 5px;
}

.modal-content .buttonContainer {
  padding-left: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.modal-content .buttonContainer .updateNote {
  margin-left: 170px;
}

.modal-content .buttonContainer button {
  padding-left: 15px;
  padding-right: 15px;
  margin: 2px;
  background-color: #e9e9e9;
  height: 36px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  box-shadow: -1px 2px 3px rgba(163,163,163,.5);
  color: #794f4f;
  transition: all .5s;
}

.modal-content .buttonContainer button i {
  margin-right: 5px;
}

.modal-content .buttonContainer button:hover {
  cursor: pointer;
  background-color: #d4d4d4;
  transition: all .5s;
}

.modal-content .buttonContainer button {
  margin-right: 10px;
}

.modal-content .buttonContainer .closeAlert {
  color: #000;
}

.modal-content .buttonContainer .updateNote {
  color: #1c45a3;
}

.filterButtonPressed {
  background-color: #3ba4c5!important;
  border-radius: 10px!important;
}

.sideButtonPressed {
  background-color: #d4d4d4!important;
}

.header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header #logout-button {
  height: 25px;
  font-family: Arial,sans-serif;
  font-size: 10px;
  margin: 5px;
  background-color: #fafafa;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 22px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  box-shadow: -1px 2px 3px rgba(163,163,163,.5);
  color: #1e1e1e;
  transition: all .5s;
}

.header #logout-button i {
  margin-right: 5px;
}

.header #logout-button:hover {
  cursor: pointer;
  background-color: #d4d4d4;
  transition: all .5s;
}

#jqgh_jqGrid_Status,
#jqgh_jqGrid_contacts,
#jqgh_jqGrid_domain,
#jqgh_jqGrid_publication_date,
#jqgh_jqGrid_text,
#jqgh_jqGrid_undefined,
#jqgh_jqGrid_url {
  cursor: default;
}

table.ui-jqgrid-htable.ui-common-table {
  width: 100%;
}

.ui-jqgrid .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  display: none;
  border: none;
  font-size: 34px;
  color: #3f51b5;
  padding-top: 20%;
  background-color: rgba(0,0,0,.27);
}

#gsh_jqGrid_domain {
  height: 25px;
  width: 93px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#gsh_jqGrid_domain div {
  height: inherit;
  width: inherit;
}